<h1>Thêm mới sản phẩm</h1>

<form >
    <div class="row">
        <div class = "col-12">
            <div class = "mb-3">
                <label class = "form-label for="">Name:</label>
                <input type="text" name = "" ng-model="name"  class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Image:</label>
                <input type="text" name="image" ng-model="img" id="imageInput" class="form-control">
            </div>
            
            <div class = "mb-3">
                <label class = "form-label for="">Price:</label>
                <input type="text" name = "" ng-model="price" class="form-control">
            </div>
            <div class = "mb-3">
                <label class = "form-label for=">Category:</label>
                <select ng-model="categoryId" class="form-control">
                    <option value="">Chọn danh mục</option>
                    <option ng-repeat="category in list_category" value="{{category.id}}">{{category.name}}</option>
                </select>                
            </div>
            <button type="submit" class="btn btn-primary" ng-click="add_product()">Thêm mới</button>
            <a class="btn btn-outline-success" href="#!list_product">Quay lại</a>
        </div>
    </div>
</form>