<h1>Chi tiết sản phẩm mới</h1>
<form name="form">
    <div>
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" ng-model="product.name"  disabled >
    </div>
    <div>
        <label for="" class="form-label">Price</label>
        <input type="number" class="form-control" name="price" ng-model="product.price" disabled>
    </div>
    <div>
        <label for="" class="form-label">Category</label>
        <select name="category" class="form-control " id="" ng-model="product.category" disabled>
            <option value="hãng 1">hãng 1</option>
            <option value="hãng 2">hãng 2</option>
            <option value="hãng 3">hãng 3</option>
        </select>
    </div>
    <div >
        <label for="" class="form-label">Des</label>
        <input type="text" class="form-control" name="des" ng-model="product.des" disabled>
    </div>
    <center>
        <button type="button" class="btn btn-warning mt-5" ng-click="onEdit()"  >Sửa</button>
    </center>
</form>