<div class="banner row ">
  <div class="w-100 p-0">
      <img src="https://theme.hstatic.net/1000375638/1000671808/14/header_pageabout.jpg?v=101" class="d-block w-100" alt="...">
  </div>
</div>
<article class="row mt-3 mb-5">
  <div class="col-6">
      <img src="./image/lienhe.png" height="col-6" width="600px">
  </div>
  <div class="col-6">
      <div class=" mb-3 mt-5 ">
          <span class="fs-3"><strong>Liên Hệ</strong></span>
      </div>
      <div class=" mb-3">
          <span class="fs-6">Địa chỉ chúng tôi: <br><strong>267 Đ. Xuân Phương, Vân Canh, Từ Liêm, Hà Nội</strong></span>
      </div>
      <div class=" mb-3">
          <span class="fs-6">Email chúng tôi: <br><strong>thongngo2ka4@gmail.com  </strong></span>
      </div>
      <div class=" mb-3">
          <span class="fs-6">Điện thoại: <br><strong>+84 862 549 185</strong></span>
      </div>
      <div class=" mb-3">
          <span class="fs-6">Thời gian làm việc: <br><strong>Thứ 2 đến Thứ 6 từ 8h đến 18h; Thứ 7 và Chủ nhật từ 8h00 đến 17h00</strong></span>
      </div>
      <div class=" mb-3 mt-4 ">
          <span class="fs-3"><strong>Gửi thắc mắc cho chúng tôi</strong></span>
      </div>
            <div >
              <div >
                <!-- Form liên hệ -->
                <form id="contact-form">
                  <div class="form-group">
                    <label for="name">Tên:</label>
                    <input type="text" class="form-control" id="name" placeholder="Nhập tên của bạn" required>
                  </div>
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Nhập email của bạn" required>
                  </div>
                  <div class="form-group">
                    <label for="message">Nội dung:</label>
                    <textarea class="form-control" id="message" rows="3" placeholder="Nhập nội dung liên hệ của bạn" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-dark mt-2">Gửi liên hệ cho chúng tôi</button>
                </form>
              </div>
            </div>
  </div>
</article>
<div class="row mt-5 mb-3">
  <h2 class="text-center mb-5">Khách hàng và Runner Inn</h2>
  <div class="row"> 
    
    <div class="col-2 p-1">
      <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_1.jpg?v=101" class="w-100" alt="">
    </div>
    <div class="col-2 p-1">
      <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_2.jpg?v=101" class="w-100" alt="">
    </div>
    <div class="col-2 p-1">
      <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_3.jpg?v=101" class="w-100" alt="">
    </div>
    <div class="col-2 p-1">
      <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_4.jpg?v=101" class="w-100" alt="">
    </div>
    <div class="col-2 p-1">
      <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_5.jpg?v=101" class="w-100" alt="">
    </div>
    <div class="col-2 p-1">
      <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_6.jpg?v=101" class="w-100" alt="">
    </div>
    
  </div>
</div>