<div class="banner row ">
  <div class="w-100 p-0">
      <img src="https://theme.hstatic.net/1000375638/1000671808/14/header_pageabout.jpg?v=101" class="d-block w-100" alt="...">
  </div>
</div>
<article>
  <div class="row mt-5">
      <div class="col-6">
          <img src="https://template.hasthemes.com/shome/shome/assets/img/about/1.webp" alt="">
      </div>
      <div class="col-6">
          <h2>Giới Thiệu</h2>
          <p>Chào mừng bạn đến với cửa hàng giày của chúng tôi - Runner Inn. Chúng tôi tự hào là điểm đến hàng đầu cho những người yêu thích giày dép và phong cách thời trang.</p>
          <p>Runner Inn là nơi bạn có thể tìm thấy những cặp giày đẹp và chất lượng, từ những thiết kế thời trang đến những sản phẩm thể thao chất lượng. Chúng tôi luôn lắng nghe và đáp ứng những xu hướng mới nhất trong ngành giày dép, đồng thời mang lại cho khách hàng trải nghiệm mua sắm tuyệt vời nhất.</p>
          <p>Tại Runner Inn, chúng tôi không chỉ bán giày, mà còn mang lại cho khách hàng cảm giác tự tin và phong cách. Chúng tôi cam kết cung cấp những sản phẩm chất lượng, dịch vụ chuyên nghiệp và trải nghiệm mua sắm thoải mái nhất cho mọi khách hàng.</p>
          <p>Chúng tôi đã có hơn 10 năm kinh nghiệm trong ngành hàng giày dép, từ việc cung cấp những sản phẩm chất lượng đến việc tư vấn và phục vụ khách hàng.</p>
      </div>
  </div>       
  <div class="row mt-5 mb-3">
      <h2 class="text-center mb-5">Khách hàng và Runner Inn</h2>
      <div class="row"> 
        
        <div class="col-2 p-1">
          <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_1.jpg?v=101" class="w-100" alt="">
        </div>
        <div class="col-2 p-1">
          <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_2.jpg?v=101" class="w-100" alt="">
        </div>
        <div class="col-2 p-1">
          <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_3.jpg?v=101" class="w-100" alt="">
        </div>
        <div class="col-2 p-1">
          <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_4.jpg?v=101" class="w-100" alt="">
        </div>
        <div class="col-2 p-1">
          <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_5.jpg?v=101" class="w-100" alt="">
        </div>
        <div class="col-2 p-1">
          <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_6.jpg?v=101" class="w-100" alt="">
        </div>
        
      </div>
    </div>
</article>