<div class="row h-auto bglogin ">
  <div class="col-6 my-auto">
  </div>
  <article class="col-6 bg-body-tertiary " style="height: 556px;">
      <h1 class="text-center" st><em>Đăng nhập Admin</em></h1>
      <form action="" class="m-4" >
            <div class="mb-3 mt-3">
              <label  class="form-label">User Name:</label>
              <input type="text" class="form-control" placeholder="Enter user name" ng-model="inputValue.userName">
            </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" class="form-control"  placeholder="Enter password" ng-model="inputValue.pass">
          </div>
          <button type="submit" class="btn btn-primary" ng-click="login()">Đăng Nhập</button>
        </form>

  </article>
</div>
<div class="row mt-5 mb-3">
  <h2 class="text-center mb-5">Khách hàng và Runner Inn</h2>
  <div class="row"> 
    
    <div class="col-2 p-1">
      <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_1.jpg?v=101" class="w-100" alt="">
    </div>
    <div class="col-2 p-1">
      <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_2.jpg?v=101" class="w-100" alt="">
    </div>
    <div class="col-2 p-1">
      <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_3.jpg?v=101" class="w-100" alt="">
    </div>
    <div class="col-2 p-1">
      <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_4.jpg?v=101" class="w-100" alt="">
    </div>
    <div class="col-2 p-1">
      <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_5.jpg?v=101" class="w-100" alt="">
    </div>
    <div class="col-2 p-1">
      <img src="https://theme.hstatic.net/1000375638/1000671808/14/gallery_item_6.jpg?v=101" class="w-100" alt="">
    </div>
    
  </div>
</div>