<h1>Sửa sản phẩm
</h1>
<form action="">
    <div>
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" ng-model="product.name">
    </div>
    <div>
        <label for="" class="form-label">Category</label>
        <input type="text" class="form-control" ng-model="product.category">
    </div>
    <div>
        <label for="" class="form-label">Image</label>
        <input type="text" class="form-control" ng-model="product.image">
    </div>
    <div>
        <label for="" class="form-label">Price</label>
        <input type="number" class="form-control" ng-model="product.price">
    </div>
    <div>
        <label for="" class="form-label">Discount</label>
        <input type="number" class="form-control" ng-model="product.discount">
    </div>
    <div>
        <label for="" class="form-label">Description</label>
        <textarea name="" id="" class="form-control" cols="30" rows="5" ng-model="product.description"></textarea>
    </div>
    <center>
        <button type="button" class="btn btn-success mt-2" ng-click="onUpdate()">Update</button>
    </center>
</form> 