<h1>Chi tiết giảng viên</h1>
<form>
    <div>
        <label for="" class="form-label">ID</label>
        <input type="text" class="form-control" ng-model="input.id" disabled>
    </div>
    <div>
        <label for="" class="form-label">Tên</label>
        <input type="text" class="form-control" ng-model="input.ten" disabled>
    </div>
    <div>
        <label for="" class="form-label">Giới tính</label>
        <select name="" class="form-control" ng-model="input.gioitinh" id="" disabled>
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
        </select>
    </div>
    <div>
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" ng-model="input.email" disabled>
    </div>
    <button class="btn btn-primary" ng-click="onEdit(input.id)">Sửa</button>
    <button class="btn btn-warning" ng-click="onBack()">Quay lại</button>
</form>