<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Minecraft Header Cart</title>
</head>
<body>

	<!-- Header -->
	<div class="row m-0 py-1 justify-content-end" style="background-color: black;">
		<div class="col-auto"><a class="text-decoration-none text-warning link-light loginredeem">Đăng Nhập</a></div>
		<div class="col-auto"><a class="text-decoration-none text-warning link-light loginredeem">Redeem</a></div>
	</div>
	<div class="row navbar navbar-expand-xl align-items-center m-0 py-3 text-center" style="background-color: #171615;">
		<a class="col-1 col-sm-1 col-md-1 navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#NavMC2"><img src="https://www.minecraft.net/content/dam/games/minecraft/logos/hamburger-icon.png" style="max-height: 60px;"></a>
		<div class="col-xl-4 collapse navbar-collapse" id="NavMC">
			<div class="col-xl-3">
				<div class="dropdown">
					<button class="btn dropdown-toggle text-light py-0 navitem" type="button" data-bs-toggle="dropdown" aria-expanded="false">GAME</button>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" href="#!Dungeons" ng-click="ScrollUp()"><img src="https://www.minecraft.net/content/dam/games/dungeons/logos/MCD_App_Icon_Flat_18x18.png"> MINECRAFT DUNGEONS</a></li>
						<li><a class="dropdown-item" href="#!Legends" ng-click="ScrollUp()"><img src="https://www.minecraft.net/content/dam/games/badger/logos/MCL_App_Icon_Flat_18x18.png"> MINECRAFT LEGENDS</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xl-3"><a class="text-decoration-none text-light link-success navitem">CỘNG ĐỒNG</a></div>
			<div class="col-xl-3"><a class="text-decoration-none text-light link-success navitem">VẬT PHẨM</a></div>
			<div class="col-xl-3"><a class="text-decoration-none text-light link-success navitem">HỖ TRỢ</a></div>
		</div>
		<div class="col-1 col-sm-3 col-md-3 col-xl-1 text-light"></div>
		<div class="col-9 col-sm-4 col-md-4 col-xl-2"><a href="#!Dungeons" ng-click="ScrollUp()"><img src="https://www.minecraft.net/content/dam/games/minecraft/logos/logo-minecraft.svg"></a></div>
		<div class="col-sm-4 col-md-4 col-xl-5 navbar-expand-md">
			<a href="#!Cart" class="navbar-toggler link-success text-decoration-none" style="font-family: 'Minecraft', sans-serif; font-weight: 600; font-size: 16px;">THANH TOÁN</a>
			<div class="collapse navbar-collapse row col-auto text-end">
				<div class="col"></div>
				<a href="#" type="button" class="col-auto mx-3 btnCart">THANH TOÁN</a>
			</div>
		</div>
	</div>

</body>
</html>