<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Menu</title>
</head>
<body>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="NavMC2" style="background-color: #171615;">
		<div class="offcanvas-header">
			  <h5 class="offcanvas-title text-light" id="NavMC2Label">Minecraft Menu</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div class="col-auto">
				<div class="text-light fs-5">GAME
					<ul style="list-style-type: none;">
						<li><a class="text-decoration-none text-light link-success fs-6" href="#!Dungeons" ng-click="ScrollUp()"><img src="https://www.minecraft.net/content/dam/games/dungeons/logos/MCD_App_Icon_Flat_18x18.png"> MINECRAFT DUNGEONS</a></li>
						<li><a class="text-decoration-none text-light link-success fs-6" href="#!Legends" ng-click="ScrollUp()"><img src="https://www.minecraft.net/content/dam/games/badger/logos/MCL_App_Icon_Flat_18x18.png"> MINECRAFT LEGENDS</a></li>
					</ul>
				</div>
			</div>
			<hr class="border border-secondary border-1 opacity-75">
			<div class="col-auto"><a class="text-decoration-none text-light link-success fs-5">CỘNG ĐỒNG</a></div>
			<div class="col-auto"><a class="text-decoration-none text-light link-success fs-5">VẬT PHẨM</a></div>
			<div class="col-auto"><a class="text-decoration-none text-light link-success fs-5">HỖ TRỢ</a></div>
		</div>
	</div>
</body>
</html>