<h1>Chi Tiết sản phẩm</h1>
<form name="form">
    <div>
        <label class="form-label ">Id</label>
        <input type="text" name="id" class="form-control" ng-model="product.id" disabled>
        <p class="text-danger" ng-if="form.id.$dirty && form.id.$error.required">ID không được để trống</p>
    </div>
    <div>
        <label class="form-label ">Name</label>
        <input type="text" name="name" class="form-control" ng-model="product.name" disabled>
        <p class="text-danger" ng-if="form.name.$dirty && form.name.$error.required">Name không được để trống</p>
    </div>
    <div>
        <label class="form-label ">Price</label>
        <input type="text" name="price" class="form-control" ng-model="product.price" disabled>
        <p class="text-danger" ng-if="form.price.$dirty && form.price.$error.required">Price không được để trống</p>
    </div>
    <div>
        <label class="form-label ">des</label>
        <input type="text" name="des" class="form-control" ng-model="product.des" disabled>
        <p class="text-danger" ng-if="form.des.$dirty && form.des.$error.required">des không được để trống</p>
    </div>
    <div>
        <label class="form-label ">category</label>
        <select name="category" id="" class="form-control" ng-model="product.category" disabled>
            <option value="Hãng A">Hãng A</option>
            <option value="Hãng B">Hãng B</option>
            <option value="Hãng C">Hãng C</option>
            <option value="Hãng D">Hãng D</option>
        </select>
        <p class="text-danger" ng-if="form.category.$dirty && form.category.$error.required">category không được để trống</p>
    </div>
    <center>
        <button type="button" class="btn btn-success mt-2" ng-click="onEdit()">Sửa</button>
        <button type="button" class="btn btn-warning mt-2" ng-click="onBack()">Quay lại</button>
    </center>
    
</form>