<h1>Danh sách sản phẩm </h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Des</th>
            <th>
                <a href="#!product/add"><button type="button" class="btn btn-primary" >Thêm mới</button></a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td>{{product.des}}</td>
            <td>
                <button type="button" class="btn btn-warning" ng-click="onDetail(product.id)">Chi tiết</button>
                <button type="button" class="btn btn-success" ng-click="onEdit(product.id)">Sửa</button>
                <button type="button" class="btn btn-danger" ng-click="onDetele(product.id)">Xóa</button>
            </td>
        </tr>
    </tbody>
</table>