<h1>Sửa sản phẩm
</h1>
<form action="">
    <div>
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" ng-model="product.name">
    </div> 
    <div>
        <label for="" class="form-label">Price</label>
        <input type="number" class="form-control" ng-model="product.price">
    </div>
    <div>
        <label for="" class="form-label">Des</label>
        <input type="text" class="form-control" ng-model="product.des">
    </div>
    <center>
        <button type="button" class="btn btn-success mt-2" ng-click="onUpdate()">Update</button>
    </center>
</form> 