<div id="app">
    <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="breadcrumb__wrap">
                            <ul class="breadcrumb__list">
                                <li class="has-separator">

                                    <a href="index.html">Trang chủ</a></li>
                                <li class="is-marked">

                                    <a href="contact.html">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-s-p-b-60">

            <div class="section__content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="g-map">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-s-p-b-60">

            <div class="section__content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 u-s-m-b-30">
                            <div class="contact-o u-h-100">
                                <div class="contact-o__wrap">
                                    <div class="contact-o__icon"><i class="fas fa-phone-volume"></i></div>

                                    <span class="contact-o__info-text-1">HOTTELL</span>

                                    <span class="contact-o__info-text-2">0347176729</span>

                                    <span class="contact-o__info-text-2">0332955198</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 u-s-m-b-30">
                            <div class="contact-o u-h-100">
                                <div class="contact-o__wrap">
                                    <div class="contact-o__icon"><i class="fas fa-map-marker-alt"></i></div>

                                    <span class="contact-o__info-text-1">ĐỊA CHỈ</span>

                                    <span class="contact-o__info-text-2">Số 1 - Trịnh Văn Bô - Nam Từ Liêm </span>

                                    <span class="contact-o__info-text-2">- Hà Nội</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 u-s-m-b-30">
                            <div class="contact-o u-h-100">
                                <div class="contact-o__wrap">
                                    <div class="contact-o__icon"><i class="far fa-clock"></i></div>

                                    <span class="contact-o__info-text-1">THỜI GIAN LÀM VIỆC</span>

                                    <span class="contact-o__info-text-2">Từ thứ 2 - thứ 6</span>

                                    <span class="contact-o__info-text-2">Từ 8h - 16h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-s-p-b-60 mt-3">

            <div class="section__content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="contact-area u-h-100">
                                <div class="contact-area__heading">
                                    <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
                                </div>
                                <form class="contact-f" method="post" action="https://d2r00w08fz6ft0.cloudfront.net/ludus-demo/index.html">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 u-h-100">
                                            <div class="u-s-m-b-30">

                                                <label for="c-name"></label>

                                                <input class="input-text input-text--border-radius input-text--primary-style" type="text" id="c-name" placeholder="Họ Tên của bạn" required></div>
                                            <div class="u-s-m-b-30">

                                                <label for="c-email"></label>

                                                <input class="input-text input-text--border-radius input-text--primary-style" type="text" id="c-email" placeholder="Email của bạn" required></div>
                                            <div class="u-s-m-b-30">

                                                <label for="c-subject"></label>

                                                <input class="input-text input-text--border-radius input-text--primary-style" type="text" id="c-subject" placeholder="Địa chỉ" required></div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 u-h-100">
                                            <div class="u-s-m-b-30">

                                                <label for="c-message"></label><textarea class="text-area text-area--border-radius text-area--primary-style" id="c-message" placeholder="Lời phản hồi" required></textarea></div>
                                        </div>
                                        <div class="col-lg-12 mt-3 mb-4">

                                            <button class="btn btn--e-brand-b-2" type="submit">Send Message</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>