<div class="container">
    <h5 class="text-center text-danger m-4">GIỎ HÀNG</h5>
    <div class="row px-xl-5">
        <div class="col-8 mb-5">
            <table class="table table-bordered text-center ">
                <thead class="text-light text-uppercase text-center">
                    <tr>
                        <th style="width: 14.28%;">Ảnh</th>
                        <th style="width: 14.28%;">Tên</th>
                        <th style="width: 14.28%;">Giá</th>
                        <th style="width: 14.28%;">Số lượng</th>
                        <th style="width: 14.28%;">Tổng tiền</th>
                        <th style="width: 14.28%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="img/giay_1.webp" width="100px" height="100px" alt=""></td>
                        <td style="width: 14.28%;">Giày thời trang nam Casual WALKER GZ Anta 812328816-2</td>
                        <td style="width: 14.28%;">990,00đ</td>
                        <td style="width: 14.28%;">2</td>
                        <td style="width: 14.28%;">1,980,00đ</td>
                        <td style="width: 14.28%;"><i class="fa fa-times"></i></td>
                    </tr>

                    <tr>
                        <td><img src="img/ao_3.webp" width="100px" height="100px" alt=""></td>
                        <td style="width: 14.28%;">Quần thời trang nữ Casual WALKER GZ Anta 812328816-2</td>
                        <td style="width: 14.28%;">500,00đ</td>
                        <td style="width: 14.28%;">1</td>
                        <td style="width: 14.28%;">500,00đ</td>
                        <td style="width: 14.28%;"><i class="fa fa-times"></i></td>
                    </tr>

                    <tr>
                        <td><img src="img/ao_2.webp" width="100px" height="100px" alt=""></td>
                        <td style="width: 14.28%;">Áo thể thao nam Casual WALKER GZ Anta 812328816-2</td>
                        <td style="width: 14.28%;">1,990,00đ</td>
                        <td style="width: 14.28%;">1</td>
                        <td style="width: 14.28%;">1,990,00đ</td>
                        <td style="width: 14.28%;"><i class="fa fa-times"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4  ">
            <form class="mb-30" action="">
                <div class="input-group">
                    <input type="text" class="form-control border border-3 p-4" placeholder="Nhập mã giảm giá">
                    <button class="btn btn-outline-secondary">Áp dụng</button>
                </div>
            </form>
            <div class=" p-30 mb-5">
                <div class="pt-2 mt-4">
                    <div class="d-flex justify-content-between mt-2">
                        <h5><i><b>Tổng cộng: </b></i></h5>
                        <p class="card-text text-danger h5"><b><i>4,470,000đ</i> </b></p>
                    </div>
                    <div class="d-flex justify-content-end ">
                        <a href="thanh_toan.html" class="btn btn-block btn-dark  font-weight-bold my-3 py-3">THANH TOÁN ĐƠN HÀNG</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
